# Default values for kuberos.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: 926803513772.dkr.ecr.eu-west-1.amazonaws.com/cloud-platform/kuberos
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

ingress:
  annotations:
    kubernetes.io/ingress.class: "nginx"
  hosts:
    - kuberos.cluster.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

# These values will be supplied by the OIDC provider.
oidc:
  issuerUrl: ""
  clientId: ""
  clientSecret: ""

# Cluster specific values, replace `address` with the external URL to the
# kubernetes api and `ca` with the base64-encoded apiserver certificate.
cluster:
  name: kubernetes-cluster
  address: ""
  ca: ""
