apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .certname }}
  namespace: {{ .namespace }}
spec:
  commonName: {{ .hostname }}
  dnsNames:
  - {{ .hostname }}
  secretName: {{ .namespace }}-secret
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-{{ .environment }}