[Unit]
Description=authorized-keys-manager
[Service]
ExecStart=/bin/bash -c '\
  while true; do \
    ak=$(curl -Lfs ${authorized_keys_url}) \
      && [ ! -z "$$ak" ] \
      && echo "$$ak" > /home/admin/.ssh/authorized_keys; \
    sleep 60; \
  done;'
[Install]
WantedBy=multi-user.target
