---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: e2e-tests-externaldns
  annotations:
    external-dns.alpha.kubernetes.io/aws-weight: "100"
    external-dns.alpha.kubernetes.io/set-identifier: e2e-tests-externaldns-{{ .namespace }}-green
spec:
  ingressClassName: "default"
  rules:
  - host: {{ .domain }}
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: ingress-external-svc
            port:
              number: 80
