apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .jobName }}
spec:
  backoffLimit: 4
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: helloworld
        image: bitnami/nginx
        command: ["echo", "hello world"]
