apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .jobName }}
spec:
  backoffLimit: 4
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: helloworld
        image: bitnami/nginx:1.25-debian-11
        command: ["/bin/bash", "-c", "for i in {1..100}; do echo -n 'hello, world {{ .namespace }}' $(date) '\n'; done"]
