apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .jobName }}
spec:
  backoffLimit: 4
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: smoketest-internal-ingress
        image: ministryofjustice/curl-jq:1
        command: ["/bin/sh", "-c", "curl -i https://{{ .host }}"]
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          capabilities:
            drop:
            - ALL
          seccompProfile:
            type: RuntimeDefault