apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .jobName }}
spec:
  backoffLimit: 4
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: smoketest-logging
        image: ministryofjustice/curl-jq:1
        command: ["/bin/sh", "-c", "curl -s {{ .searchTerm }} -H 'Content-Type: application/json' -d '{ \"query\": { \"bool\": { \"must\": [], \"filter\": [ { \"match_phrase\": { \"log\": \"hello, world {{ .namespace }}\" } } ] } } }' | jq '.hits.total.value'"]
