apiVersion: v1
kind: Namespace
metadata:
  name: {{ .namespace }}
  labels:
    cloud-platform.justice.gov.uk/is-production: "false"
    cloud-platform.justice.gov.uk/environment-name: "staging"
    pod-security.kubernetes.io/{{ or .psaMode "audit" }}: {{ or .psaLevel "restricted" }}

---

kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: test-webops
  namespace: {{ .namespace }}
  labels:
subjects:
  - kind: Group
    name: "github:test-webops"
    apiGroup: rbac.authorization.k8s.io
  {{ if .bypassPspRoleName }}
  - kind: Group
    name: "system:authenticated"
    apiGroup: rbac.authorization.k8s.io
  - kind: Group 
    name: system:serviceaccounts:{{ .namespace }}
    apiGroup: rbac.authorization.k8s.io
  {{ end }}
roleRef:
  kind: ClusterRole
  name: {{ or .bypassPspRoleName "admin" }}
  apiGroup: rbac.authorization.k8s.io

{{ if .bypassPspRoleName }}
---

apiVersion: v1
kind: List
items:
- apiVersion: rbac.authorization.k8s.io/v1
  kind: Role
  metadata:
    name: {{ .namespace }}
  rules:
  - apiGroups:
    - ""
    resources:
    - services
    - pods/portforward
    - pods
    - secrets
    - configmaps
    - deployment
    verbs:
    - list
    - watch
    - create
    - update
    - patch
    - get
    - delete
  - apiGroups:
    - apps
    - extensions
    - policy
    - batch
    - networking.k8s.io
    resources:
    - ingresses
    - replicasets
    - jobs
    - cronjobs
    - poddisruptionbudgets
    - networkpolicies
    - deployments
    verbs:
    - list
    - watch
    - create
    - update
    - patch
    - get
    - delete
  - apiGroups:
    - monitoring.coreos.com
    resources:
    - servicemonitors
    - prometheusrules
    verbs:
    - '*'
---

kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .namespace }}
  namespace: {{ .namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ .namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ .namespace }}
    namespace: {{ .namespace }}
{{ end }}
