name: go-vet-lint
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**.go"
      - ".github/workflows/go-vet-lint-deps.yaml"

jobs:
  build:
    name: staticcheck
    runs-on: ubuntu-latest
    steps:
      # Checkout your project with git
      - name: Checkout
        uses: actions/checkout@v3.3.0

      # Install Go on the VM running the action.
      - uses: WillAbides/setup-go-faster@v1.8.0
        with:
          go-version: "1.18.x"

      - name: Perform staticcheck on codebase
        uses: dominikh/staticcheck-action@v1.3.0
        with:
          version: "2022.1"
          install-go: false

      - name: Install gofumpt
        run: |
          go install mvdan.cc/gofumpt@latest

      - name: Run gofumpt command
        run: |
          gofumpt -l -d ./

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: latest
